# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.line-number': [{label: 'Script: Run by line number', command: 'script:run-by-line-number'}]
  '.overlayer': [{label: 'Enable script', command: 'script:run-selection'}]

'menu': [
  {
    label: 'Sifu'
    submenu: [
      { label: 'Compile', command: 'sifu:compile' },
      { label: 'Generate', command: 'sifu:generate' }
      { label: 'Generate with migration', command: 'sifu:generateMigrate' }
    ]
  }
]