# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps

# Only bind the keys in the editor
'.platform-darwin atom-text-editor':
  'cmd-alt-c': 'script:compile'
  'cmd-alt-g': 'script:generate'
  'cmd-alt-m': 'script:generateWithMigrate'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-shift-c': 'sifu:compile'
  'ctrl-shift-g': 'sifu:generate'
  'ctrl-shift-m': 'sifu:generateWithMigrate'